.New_coment{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5%;
}
.Reviews{
	background-color: #f9f9f9;
	border-left: 8px #e9e9e9 solid;
	margin: 8% ;
}
.Reviews h2{
	text-align: center;
	padding: 20px;
}
.foto{
	padding: 10px;
}
textarea{
	max-width: 600px;
}
.submit button{
	margin: 30px 0 30px 0;
	background-color: #7fc221;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 35px 15px 35px;
	border: none;
	font-size: 18px;
	font-weight: bold;
}
.submit{
	display: flex;
	flex-direction: column;
	padding: 0 53% 0 27%;
}
.submit select{
	margin-top: 20px;
}
